body {
	background-color: lightgray;
	text-align: center;
	color: rgb(180, 16, 16);
	zoom: max(2, 0);
}

p {
	color: black;
	text-align: justify;
	margin-left: 80px;
	margin-right: 80px;
}